<footer class="footer p-5 has-background-light">
  <div class="content has-text-centered">
    <p class="mb-0 is-size-5 has-text-weight-bold">
      <%= Rails.application.class.module_parent_name %>
    </p>
  </div>
</footer>
