@import "tailwindcss/base";
@import "tailwindcss/components";

@import "./stylesheets/global";
@import "./stylesheets/buttons";
@import "./stylesheets/form";
@import "./stylesheets/alert";
@import "./stylesheets/navbar";

@import "tailwindcss/utilities";