<div class="container">
  <div class="columns">
    <div class="column is-12-mobile is-8-tablet is-5-desktop mx-auto">
      <div class="p-5 box">
        <%= yield :form_layout %>
      </div>
    </div>
  </div>
</div>
