<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 mx-auto col-sm-8 col-lg-5">
      <div class="p-4 bg-white rounded shadow-sm">
        <%= yield :form_layout %>
      </div>
    </div>
  </div>
</div>
